@import "tailwindcss";

@import "@fontsource/open-sauce-sans";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-senary: #2563eb;
  --color-quinary: #efa410;

  /* --color-senary: #0e4e2b; */

  --font-inter: var(--font-inter);
  --font-open-sauce: "Open Sauce Sans", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer utilities {
  .section-con {
    @apply w-[95%] max-w-[1250px] mx-auto;
  }

  .padding-x {
    @apply px-6 md:px-10 lg:px-16;
  }

  .goog-te-banner-frame {
    display: none !important;
  }

  .goog-te-gadget {
    color: transparent !important;
  }

  .goog-te-gadget .goog-te-combo {
    @apply px-3 py-2 border rounded-lg bg-white;
  }
}
