@import "tailwindcss";

@import "@fontsource/open-sauce-sans";
@import "@fontsource/open-sauce-sans/500.css";

@tailwind utilities;

@font-face {
  src:
    url("/fonts/FormaDJRVariable-VF-Testing.woff2") format("woff2"),
    url("/fonts/FormaDJRVariable-VF-Testing.woff") format("woff");
  font-family: "FormaDJRVariable";
  font-style: normal;
  font-weight: 1 900;
}

@font-face {
  src:
    url("/fonts/FormaDJRVariable-Italic-VF-Testing.woff2") format("woff2"),
    url("/fonts/FormaDJRVariable-Italic-VF-Testing.woff") format("woff");
  font-family: "FormaDJRVariable";
  font-style: italic;
  font-weight: 1 900;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-senary: #2563eb;
  /* --color-senary: #2563eb; */
  --color-quinary: #efa410;

  /* --color-senary: #0e4e2b; */

  --font-inter: var(--font-inter);
  --font-open-sauce: "Open Sauce Sans", sans-serif;
  --font-forma-djr: "FormaDJRVariable", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-forma-djr);
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .section-con {
    @apply w-[95%] max-w-[1250px] mx-auto;
  }

  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }

  .padding-x {
    @apply px-2 md:px-10 lg:px-16;
  }

  .goog-te-banner-frame {
    display: none !important;
  }

  .goog-te-gadget {
    color: transparent !important;
  }

  .goog-te-gadget .goog-te-combo {
    @apply px-3 py-2 border rounded-lg bg-white;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  @keyframes trusted-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .slide-track {
    display: flex;
    gap: 2.5rem; /* same as gap-10 in Tailwind */
    animation: trusted-scroll 30s linear infinite;
    width: max-content;
  }
}
